  

  <ion-app>
    <p-toast></p-toast>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Venta de productos cosmeticos "Belleza"
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Informacion del cliente</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-list>
                  <ion-item>
                    <ion-input label="Cédula" type="text" [(ngModel)]="ventas.cliente.cedula" labelPlacement="floating" placeholder="Ingrese su número de documento" required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input label="Dirección de entrega" type="text" [(ngModel)]="ventas.cliente.direccion" labelPlacement="floating" placeholder="Ingrese su número dirección de residencia" required></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
  
      
    
      <ion-card>
        <ion-card-header>
          <ion-card-title>Catalogo de productos</ion-card-title>
          <ion-card-subtitle>Seleccione los productos que desea comprar dando click en cada uno de ellos.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size-sm="12" size-md="3" size-lg="3" *ngFor="let producto of productos">
                <ion-card (click)="addProd(producto)" >
                  <img alt="Silhouette of mountains" src="{{ producto.imageUrl }}" />
                  <ion-card-header>
                    <ion-card-title>{{ producto.name }}</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    Precio por unidad:  {{ '$'+producto.unitValue }}
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Resumen de la compra</ion-card-title>
        </ion-card-header>
        <ion-card-content>
   
          <p-table [value]="this.ventas.productosCliente" [tableStyle]="{ 'min-width': '50rem' }" [styleClass]="'p-datatable-sm'">
            <ng-template pTemplate="header">
                <tr>
                    <th>Opciones</th>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Valor unidad</th>
                    <th>Costo Total</th>                  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing">
                <tr>
                    <td>                  
                      <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text p-button-raised" (click)="deleteProduct(product)"></button>
                    </td>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td [pEditableColumn]="product.amount" pEditableColumnField="amount">
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <p-inputNumber [showButtons]="true" [min]="1" [(ngModel)]="product.amount"> </p-inputNumber>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{ product.amount }}
                          </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>{{ product.unitValue}}</td>
                    <td>{{ (product.amount*product.unitValue) }}</td>                  
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                  <td colspan="5" style="text-align: right;">Total Factura: </td>
                  <td>{{ calcularTotal() }}</td>
              </tr>
          </ng-template>
        </p-table>
        
        <p-confirmDialog [acceptLabel]="'Si'" [rejectLabel]="'No'" [acceptButtonStyleClass]="'p-button-raised p-button-text'" [rejectButtonStyleClass]="'p-button-raised p-button-text p-button-danger'"></p-confirmDialog>
        
        <br>
        <ion-button expand="block" color="success" (click)="guardarPedido()">Guardar Pedido</ion-button>   
        </ion-card-content>
        
      </ion-card> 
     
    </ion-content>

  </ion-app>
